%section#about
	.container
		.row
			%h2.text-center
				Nosotros
			.col-sm-4
				.icon.text-center
					%i.fa.fa-book
				%p.text-center
					Hacemos clases, traducciones y resolvemos tareas específicas.
			.col-sm-4
				.icon.text-center
					%i.fa.fa-users
				%p.text-center
					Ofrecemos una alternativa de excelente calidad, personalizada y cercana.
			.col-sm-4
				.icon.text-center
					%i.fa.fa-wechat
				%p.text-center
					Queremos facilitar la comunicación de tu empresa con empresas y/o personas de habla inglesa.