%section#differ
	.container
		.row
			%h2.text-center
				Qué nos diferencia
			
			.col-sm-6
				.anim
					.logo
					.rays
			.col-sm-6
				.col-xs-2
					%span.num
						1
				.col-xs-10
					%p
						%span.text
							Somos la única empresa en Chile que ofrece servicios integrales de inglés. Tenemos todo lo que necesitas.
				.col-xs-2
					%span.num
						2
				.col-xs-10
					%p
						%span.text
							Nuestro principal interés es enfocarnos en cada uno de nuestros clientes o alumnos como si fueran los únicos. Queremos ser un apoyo para ti y tu empresa, por eso nos movemos a tu ritmo y nos adaptamos a tus horarios.
				.col-xs-2
					%span.num
						3
				.col-xs-10
					%p
						%span.text
							Tenemos un gran equipo formado por excelentes profesionales dispuestos a ayudarte.
				.col-xs-2
					%span.num
						4
				.col-xs-10
					%p
						%span.text
							Es muy importante para nosotros que nuestros clientes y alumnos estén en contacto permanente con el inglés. Queremos que seas parte de una comunidad donde vas a encontrar artículos, videos, fotos y frases en inglés, para que practiques y sigas aprendiendo.