%section#differ{ :'analytics-on' => 'scrollby', :'analytics-category' => 'scroll'  }
	.container
		.row
			%h2.text-center
				Qué nos diferencia
			
			.col-sm-6
				.anim
					.logo
					.rays
			.col-sm-6
				.col-xs-2
					%span.num
						1
				.col-xs-10
					%p
						%span.text
							Somos la única empresa en Chile que ofrece servicios integrales de inglés. Tenemos todo lo que necesitas.
				.col-xs-2
					%span.num
						2
				.col-xs-10
					%p
						%span.text
							Nuestro principal interés es enfocarnos en cada uno de nuestros clientes o alumnos como si fueran los únicos. Queremos ser un apoyo para ti o tu empresa, por eso nos movemos a tu ritmo y nos adaptamos a tus horarios.
				.col-xs-2
					%span.num
						3
				.col-xs-10
					%p.last
						%span.text
							Tenemos un gran equipo formado por excelentes profesionales dispuestos a ayudarte.