%footer
	.container
		.row
			%h2.text-center
				Contáctanos!
			.col-sm-4
				%a{ :'href' => 'https://www.facebook.com/inglesdondestes/', :'target' => '_blank' }
					.icon.fb.text-center
						%i.fa.fa-facebook
				%p.text-center
					http://on.fb.me/1TW5hFx
			.col-sm-4
				%a{ :'href' => 'whatsapp://send?abid=+56984292584&text=Hey%20There!', :'target' => '_blank' }
					.icon.ws.text-center
						%i.fa.fa-whatsapp
				%p.text-center
					(+56) 9 84292584
			.col-sm-4
				%a{ :'href' => 'mailto:ximena@inglesdondestes.cl' }
					.icon.google.text-center
						%i.fa.fa-envelope
				%p.text-center
					ximena(at)inglesdondestes.cl
	%p.sign.text-center
		%small
			inglesdondestes© 2016 - Santiago, Chile
		%br
		%small
			Icons made by 
			%a{ :'href' => 'http://www.freepik.com', :'target' => '_blank' }
				Freepik
			from
			%a{ :'href' => 'http://www.flaticon.com', :'target' => '_blank' }
				www.flaticon.com. 
			Licensed by
			%a{ :'href' => 'http://creativecommons.org/licenses/by/3.0/', :'target' => '_blank' }
				CC BY 3.0