%header{ :'parallax-background' => 'parallax-background', :'parallax-ratio' => '-0.2' }
	.logo{ :'parallax' => 'parallax', :'parallax-ratio' => '0.4' }
	.sub.container{ :'parallax' => 'parallax', :'parallax-ratio' => '0.4' }
		%h1.text-center
			We have everything you need!
		.car{ :'uib-carousel interval' => '6000', :'no-wrap' => 'false', :'ng-cloak' => 'ng-cloak' }
			%uib-slide{ :'active' => 'slide.active' }
				%p.text-center
					"(...) Son un complemento perfecto para ir perfeccionando el manejo del inglés."
					%br
					%i.fa.fa-star
					%i.fa.fa-star
					%i.fa.fa-star
					%i.fa.fa-star
					%i.fa.fa-star
					%br
					%small.text-center Francisco Reveco, Cliodinámica
			%uib-slide
				%p.text-center
					"(...) De lo que hemos trabajado con ellos, todo perfect."
					%br
					%i.fa.fa-star
					%i.fa.fa-star
					%i.fa.fa-star
					%i.fa.fa-star
					%i.fa.fa-star
					%br
					%small.text-center Álvaro Venegas, N11
		.icon-scroll
			.mouse.hidden-xs
				.wheel
			.arrow
				%span.a1
				%span.a2
				%span.a3