%header{ :'parallax-background' => 'parallax-background', :'parallax-ratio' => '-0.2' }
	.logo{ :'parallax' => 'parallax', :'parallax-ratio' => '0.4' }
	.sub.container{ :'parallax' => 'parallax', :'parallax-ratio' => '0.4' }
		%h1.text-center
			We have everything you need!
		.car{ :'uib-carousel interval' => '6000', :'no-wrap' => 'false', :'ng-cloak' => 'ng-cloak' }
			%uib-slide{ :'active' => 'slide.active' }
				%p.text-center
					"Best English site ever!"
					%br
					%i.fa.fa-star
					%i.fa.fa-star
					%i.fa.fa-star
					%i.fa.fa-star
					%i.fa.fa-star
					%br
					%small.text-center Sabino Velásquez
			%uib-slide
				%p.text-center
					"Buenos profesores, muy responsables"
					%br
					%i.fa.fa-star
					%i.fa.fa-star
					%i.fa.fa-star
					%i.fa.fa-star
					%i.fa.fa-star-o
					%br
					%small.text-center John Doe