%section#instagram{ :'ng-controller' => 'instagramCtrl', :'analytics-on' => 'scrollby', :'analytics-category' => 'scroll'  }
	.container
		.row
			%h2.text-center
				Instagram

			.insta.col-sm-6.col-xs-12.col-lg-3{ :'ng-repeat' => 'photo in photos'}
				%a{ :'href' => '{{photo.link}}', :'target' => '_blank', :'analytics-on' => 'click', :'analytics-event' => 'instagram click: {{photo.caption.text}}', :'analytics-category' => 'instagram' }
					%img.img-responsive{ :'ng-src' => '{{photo.images.standard_resolution.url}}' }
				%p.caption.text-center 
					%small {{photo.caption.text |truncate:150:" (...)" }}
			.col-sm-12
				%a.inst{ :'href' => 'https://www.instagram.com/inglesdondestes/', :'target' => '_blank', :'analytics-event' => 'go to instagram', :'analytics-category' => 'sociales'  }
					.icon.insta.text-center
						%i.fa.fa-instagram