%section#services{ :'analytics-on' => 'scrollby', :'analytics-category' => 'scroll' }
	.container
		.row
			%h2.text-center
				Servicios

			.col-sm.12
				%uib-tabset{ :'justified' => 'true' }
					%uib-tab{ :'heading' => 'Clases', :'analytics-on' => 'click', :'analytics-event' => 'Clases', :'analytics-category' => 'services' }
						.container
							%h3.text-center
								Clases
							%p.text-center
								Te ayudamos a aprender inglés, a conversar más fluidamente, a pronunciar mejor.
							%p.text-center
								Hacemos lo mismo para todos los que lo necesiten en tu empresa.
							%h4.text-center
								Tipos:
							%p.text-center
								%strong Aprender/mejorar inglés
							%p.text-center
								%strong	Conversación
							%p.text-center
								%strong	Mejorar Pronunciación
					%uib-tab{ :'heading' => 'Traducciones', :'analytics-on' => 'click', :'analytics-event' => 'Traducciones', :'analytics-category' => 'services' }
						.container
							%h3.text-center
								Traducciones
							%p.text-center
								Necesitas acceder a más información, manejar todos los aspectos de un contrato que recibiste en inglés, saber si hay algo que no entendiste en un mail importante, o entender un manual a cabalidad. Tal vez simplemente quieres entender en profundidad ese cuento que tanto te gusta. Podemos ayudarte. 
							%h4.text-center
								Características:
							%p.text-center
								%strong Lenguaje Técnico
							%p.text-center
								%strong Proofreading
							%p.text-center
								%strong Confidencialidad
							
					%uib-tab{ :'heading' => 'Tareas específicas', :'analytics-on' => 'click', :'analytics-event' => 'Tareas específicas', :'analytics-category' => 'services' }
						.container
							%h3.text-center
								Tareas específicas
							%p.text-center
								Viene el Big Boss y hay que presentarle los avances del año y las proyecciones del próximo? Tienes que mandarle un informe a los gringos y quieres estar seguro de haberlo redactado bien? Quieres proponerle un negocio a un chino? Quieres que tu empresa tenga un audio en inglés mientras comunican la llamada? Lo que sea! 
							%p.text-center
								Llámanos.
							%h4.text-center
								Tipos:
							%p.text-center
								%strong Preparación de Presentaciones
							%p.text-center
								%strong Revisión de Informes
							%p.text-center
								%strong Interpretaciones
							%p.text-center
								%strong Locuciones
