%section#team
	.container
		.row
			%h2.text-center
				Nuestro Team
			.col-sm-4
				.profile
					.hover
						.icon
							%a{ :'href' => 'https://www.linkedin.com/in/ximena-riquelme-jorquera-66616a70', :'target'=>'_blank' }
								%i.fa.fa-linkedin
					%img.img-responsive{ :'src' => 'img/team/xime.jpg' }
				%h3.text-center
					Ximena Riquelme
				%h4.text-center
					Kickass Owner / Teacher
			.col-sm-4
				.profile
					.hover
						.icon
							%a{ :'href' => 'https://www.linkedin.com/in/ximena-riquelme-jorquera-66616a70', :'target'=>'_blank' }
								%i.fa.fa-linkedin
					%img.img-responsive{ :'src' => 'img/team/xime.jpg' }
				%h3.text-center
					Ximena Riquelme
				%h4.text-center
					Kickass Owner / Teacher
			.col-sm-4
				.profile
					.hover
						.icon
							%a{ :'href' => 'https://www.linkedin.com/in/ximena-riquelme-jorquera-66616a70', :'target'=>'_blank' }
								%i.fa.fa-linkedin
					%img.img-responsive{ :'src' => 'img/team/xime.jpg' }
				%h3.text-center
					Ximena Riquelme
				%h4.text-center
					Kickass Owner / Teacher